{% extends "base.html" %}
{% block head %}
    <title>常用工具</title>
{% endblock %}

{% block body %}
    <div class="container">
<!--        <img src="{{ url_for('static', filename='2.jpeg') }}" >-->
<!--        <div class="row">-->
<!--            <div class="col"></div>-->
<!--            <div class="col">-->
<!--                <div class="jumbotron">-->
<!--                    <p>常用工具</p>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col"></div>-->
<!--        </div>-->
    </div>
{% endblock %}